<h1>About</h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> is a project to teach 
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %> in one month.<br>
	This is a sample application in the style on <%= link_to "Pinterest", "http://pinterest.com" %>
</p>
<iframe width="480" height="360" src="//www.youtube.com/embed/c6se5i52Z6M" frameborder="0" allowfullscreen></iframe>
